<ul class="pagination">
    <li class="page-item"><a class="page-link" href="?page={{1}}">&laquo; first</a></li>

    {% if object_list.previous_page_number > 0 %}
    <li class="page-item"><a class="page-link" href="?page={{object_list.previous_page_number}}">previous</a></li>
    {% endif %}

    {% for i in object_list.paginator.get_elided_page_range|default_if_none:object_list.paginator.get_elided_page_range %}
        {% if object_list.number == i %}
        <li class="active page-item"><span class="page-link">{{ i }} </span>
        </li>
        {% else %}
            {% if i == object_list.paginator.ELLIPSIS %}
            <li class="page-item"><span class="page-link">{{ i }}</span></li>
            {% else %}
            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
        {% endif %}
    {% endfor %}


    {% if object_list.next_page_number > 0 %}
    <li class="page-item"><a class="page-link" href="?page={{ object_list.next_page_number }}">next</a></li>
    {% endif %}

    <li class="page-item"><a class="page-link" href="?page={{ object_list.paginator.num_pages}}">last &raquo;</a></li>

</ul>