{% load static %}

<div class="row row-cols-1 g-0  overflow-hidden  mb-4 shadow-md  position-relative post-block">
    <div class="col-3 p-4">
        <img class="card-img-center img-fluid " src="{{ answer.author.avatar.url }}" alt="Avatar">

        <div class="rating d-flex justify-content-center align-items-center mt-2">
            <button type="button" class="btn btn btn-light">
                <i class="bi bi-hand-thumbs-up-fill"></i>
            </button>

            {% if answer.like_sum %}
            <span class="likes-rating"> {{ answer.like_sum }} </span>
            {% else %}
            <span class="likes-rating"> {{ 0 }} </span>
            {% endif %}

            <button type="button" class="btn btn btn-light">
                <i class="bi bi-hand-thumbs-down-fill"></i>
            </button>
        </div>
    </div>

    <div class="col-9 p-4 ">
        <!-- <div class="mb-2 text-muted">Nov 11</div> -->
        <div class="mb-2 text-muted">{{ answer.author.nickname }}</div>
        <div class="mb-2 text-muted">{{ answer.date }}</div>
        <p class="mb-2"> {{answer.content}} </p>
        {% if answer.checked %}
        <p class="mb-2"> Answer is correct! </p>
        {% endif %}
        <div class="form-check mt-3 fs-5">
            {% if answer.question.author.id == request.user.profile.id %}
            {% if answer.checked %}
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" checked>
            {% else %}
            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
            {% endif %}
            <label class="form-check-label " for="flexCheckDefault">
                Correct!
            </label>
            {% endif %}
        </div>
    </div>

</div>