{% extends "incl/base.html" %}

{% block content %}
<div class="col-md-8">
    <h3 class="fst-italic text-center mt-3 mb-3"> Log In </h3>
    <form class="form-margin" action="/login/" method="post">
        <div class="form-floating">
            <input class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Enter your login here</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div>

        <div class="checkbox mb-3">
        </div>
        <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
    </form>
</div>
{% endblock content%}