{% extends "incl/base.html" %}
{% load static %}
{% load bootstrap4 %}

{% block content %}
<div class="col-md-8">
    <h3 class="fst-italic text-center mt-3 mb-3"> Log In </h3>

    {% if alert %}
    <div class="alert alert-danger" role="alert">
        {{ alert }}
    </div>
    {% endif %}

    <form class="form-margin" action="/login/" method="post">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}" />

        <!-- <div class="form-floating">
            <input class="form-control" id="floatingInput" placeholder="Enter your login here">
            <label for="floatingInput">Enter your login here</label>
        </div>

        <div class="form-floating">
            <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Password</label>
        </div> -->

        {% bootstrap_form form %}

        <!-- <div class="checkbox mb-3">
        </div> -->
        <button class="w-100 btn btn-lg btn-success" type="submit">Sign in</button>
    </form>
</div>
{% endblock content%}