{% extends "incl/base.html" %}
{% load static %} 

{% block content %}
<div class="col-md-8">

    <!-- Question -->
    <div class="row row-cols-1 g-0  overflow-hidden  mb-4 shadow-md  position-relative post-block">
        <div class="row d-flex flex-wrap">
            <div class="col-3 p-4">
                <img class="card-img-center img-fluid " src="/static/img/jiraiya.jpeg" alt="Avatar">

                <div class="rating d-flex justify-content-center align-items-center mt-2">
                    <button type="button" class="btn btn btn-light">
                        <i class="bi bi-hand-thumbs-up-fill"></i>
                    </button>
                    <span class="likes-rating"> 6 </span>
                    <button type="button" class="btn btn btn-light">
                        <i class="bi bi-hand-thumbs-down-fill"></i>
                    </button>
                </div>
            </div>

            <div class="col-9 p-4 ">
                <h3 class="mb-2">Baka, baka, baka!! They found out I was peeking! Is my research ruined?
                </h3>
                <div class="mb-2 text-muted">Nov 11</div>
                <p class="mb-2">Now my job is to help the next generation and set a good example for them.
                    And for that, I’ll gladly lay down my life, and I’ll be smiling the whole time. It’s
                    what makes us old
                    guys cool, you see.</p>

                <div class="tags pt-2">
                    <i class="bi bi-tags-fill"></i>
                    <span>Tags:</span>
                    <a href="#">Python </a>
                    <span>,</span>
                    <a href="#">SQL </a>
                </div>

            </div>
        </div>
    </div>
    <!-- /Question -->

    <h3>Answers:</h3>

    <!-- Answers -->
    {% for comment in comments %}
        {% include "incl/single_comment.html" %}
    {% endfor %}

    <!-- /Answers -->

    <!-- Input comment -->
    <div class="form-floating mb-4">
        <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2"></textarea>
        <label for="floatingTextarea2">Enter your answer here ...</label>
        <button class="btn btn-outline-success mt-2" type="submit">Answer</button>
    </div>
    <!-- /Input comment -->

    {% include "incl/pagination.html" %}

</div>
{% endblock content%}
