{% extends "incl/base.html" %}

{% block content %}
<div class="col-md-8">

    <h3 class="fst-italic text-center mt-3 mb-3"> Registration </h3>

    <form class="form-margin" enctype="multipart/form-data" action="/signup/" method="post">
        <label for="login" class="form-label">Login</label>
        <input type="text" class="form-control" id="login" placeholder="Login" value="" required>


        <label for="username" class="form-label">Nickname</label>
        <input type="text" class="form-control" id="username" placeholder="Nickname" required>


        <label for="email" class="form-label">Email </label>
        <input type="email" class="form-control" id="email" placeholder="you@example.com" required>


        <label for="floatingPassword">Password</label>
        <input type="password" class="form-control" id="floatingPassword" placeholder="Password" required>

        <label for="RepeatPassword">Repeat password</label>
        <input type="password" class="form-control" id="RepeatPassword" placeholder="Repeat password" required>

        <label for="inputGroupFile02" class="form-label">Upload avatar </label>
        <input type="file" class="form-control" id="inputGroupFile02" accept=".png, .jpg, .jpeg">

        <button class="w-100 btn btn-success btn-lg" type="submit">Register!</button>
    </form>

</div>
{% endblock content%}