{% extends "incl/base.html" %}
{% load static %} 

{% block content %}
<div class="col-md-8">

  <!-- Main headers -->
  <div class="row  mt-4 mb-3">
    <div class="col-md-7 ">
      <h3 class="fst-italic text-center"> Tag: {{tag}} </h3>
    </div>
  </div>
  <!-- /Main haders -->

  <!-- Posts -->
  {% for question in object_list %}
    {% include "incl/single_post.html" %}
  {% endfor %}
  <!-- /Posts -->


  {% block navigation %}
  {% include "incl/pagination.html" %}
  {% endblock navigation %}

</div>
{% endblock content%}